<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{% static 'css/home.css' %}" rel="stylesheet">
        <link href="{% static 'css/variables.css' %}" rel="stylesheet">
    </head>
    <body>
        <header class="row">
            <div class="side"></div>
            <div class="title centre">
                <a class="title">BeGreen</a>
                <br>
                <a class="subtitle">Today's challenge: [challenge goes here]</a>
            </div>
            <div class="side">
                <div class="account">
                    <div class="icon rounded-circle"></div>
                </div>
            </div>
        </header>
        <main class="row">
              <div class="side">
                <div class="links rounded-5">Links</div>
              </div>
              <div class="centre">
                <div class="post rounded-5">
                    <div>Top</div>
                    <div class="row">
                        <div class="side"></div>
                        <div class="img rounded-5 centre"></div>
                        <div class="side"></div>
                    </div>
                    
                </div>
                <br>
                <div class="post rounded-5">
                    <div class="img rounded-5"></div>
                </div>
              </div>
              <div class="side">right</div>
          </main>
    </body>
</html>