<!doctype html>
<!--
    Main Authors:
        TN - Design
        OJ - Styling
        LB - Integration
-->
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{% static 'css/home.css' %}" rel="stylesheet" media="screen and (min-width: 1001px)">
        <link href="{% static 'css/home-mobile.css' %}" rel="stylesheet" media="screen and (max-width: 1000px)">
        <link href="{% static 'css/variables.css' %}" rel="stylesheet">
    </head>
    <body>
        <header class="row">
            <div class="side">
                <button type="button" class="btn btn-primary trigger-menu" data-bs-toggle="modal" data-bs-target="#myModal">
                    Menu
                </button>
            </div>
            <div class="title centre">
                <a class="title" href="{% url 'home' %}">BeGreen</a>
                <br>
                <a class="subtitle">Today's challenge: Visit the Coast!</a>
            </div>
            <div class="side">
                <div class="account">
                    <div style="height: 80%; padding-left: 50%;">
                        <div class="icon rounded-circle">{{user.username|make_list|first| capfirst}}</div>
                    </div>
                    <div class="points">Score: {{user_points}}</div>
                </div>
            </div>
        </header>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content menu">
            
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Useful Links</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body links">
                        <a href="{% url 'account' %}">Submission History</a> <br>
                        <a href="">Friends' Submissions</a> <br>
                        <a href="">University Submissions</a> <br>
                        <a href="https://www.exeter.ac.uk/about/sustainability/">University Green Policy</a>
                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <main class="row">
              <div class="side left">
                <div class="links rounded-5">
                    <a href="{% url 'account' %}">Submission History</a>
                    <a href="{% url 'friends' %}">Manage Friends</a>
                    <div style="background-color: white; height: 5px; width: 80%;"></div>
                    <a href="https://www.exeter.ac.uk/about/sustainability/">University Green Policy</a>
                    <div style="background-color: white; height: 5px; width: 80%;"></div>
                    <a href="">University Submissions</a>
                    <a href="">Friends' Submissions</a>
                </div>
              </div>
              <div class="centre">
                {% for submission, info in submissions.items %}
                <div id="post{{info.submission_id}}" class="post rounded-5">
                    <div class="header row">
                        <div class="user">{{ info.submission_username }}</div>
                        <div class="time">{{ info.submission_time }}</div>
                    </div>
                    <div class="row">
                        <div class="side"></div>
                        <div class="centre">
                            <div class="img rounded-5">
                                <img src="{{ info.submission_photo }}">
                                <div class="icon rounded-circle">{{info.submission_username|make_list|first| capfirst}}</div>
                            </div>
                        </div>
                        <div class="side interactions">
                            <div>
                                <img id="upvote{{info.submission_id}}" class="upvote" src="{% static 'img/Upvote-Clear.svg' %}">
                                <script>
                                    upvotebutton = document.getElementById("upvote{{info.submission_id}}");
                                    upvotecount = document.getElementById("upvotetext{{info.submission_id}}");
                                    var has_liked = "{{info.submission_has_liked}}";
                                    console.log(has_liked);
                                    if ("{{info.submission_has_liked}}" == "1"){
                                        upvotebutton.src = "{% static 'img/Upvote-Solid.svg' %}";
                                    }
                                    upvotebutton.onclick = function(){
                                        if (document.getElementById("upvote{{info.submission_id}}").src.includes("Solid")){
                                            document.getElementById("upvote{{info.submission_id}}").src="{% static 'img/Upvote-Clear.svg' %}";
                                            document.getElementById("upvotetext{{info.submission_id}}").innerHTML=(parseInt(document.getElementById("upvotetext{{info.submission_id}}").innerHTML)-1);
                                        }
                                        else{
                                            document.getElementById("upvote{{info.submission_id}}").src = "{% static 'img/Upvote-Solid.svg' %}";
                                            document.getElementById("upvotetext{{info.submission_id}}").innerHTML=(parseInt(document.getElementById("upvotetext{{info.submission_id}}").innerHTML)+1);
                                        }
                                        
                                        var submission_id = "{{info.submission_id}}";
                                        
                                        var url = window.location.protocol + '//' + location.host + "/like_submission/";
                                        fetch(url, {
                                            method: "POST",
                                            credentials: "include",
                                            headers: {
                                            Accept: "application/json",
                                            "Content-Type": "application/json",
                                            },
                                            body: JSON.stringify({
                                                submission_id: submission_id,
                                            }),
                                        })
                                            .then((response) => response.json())
                                            .then((response) => console.log(JSON.stringify(response)));
                                    };

                                </script>
                            </div>
                            <div id="upvotetext{{info.submission_id}}">{{ info.submission_upvote_count }}</div>
                            <div>
                                <img src="{% static 'img/Comment.svg' %}">
                            </div>
                            <div>0</div>
                            <div>
                                {% if not info.submission_has_reviewed %}
                                <img id="flag{{info.submission_id}}" src="{% static 'img/Flag-Clear.svg' %}">
                                <script>
                                    flagbutton = document.getElementById("flag{{info.submission_id}}");
                                    var has_flagged = "{{info.submission_has_flagged}}";
                                    if ("{{info.submission_has_flagged}}" == "1"){
                                        flagbutton.src = "{% static 'img/Flag-Solid.svg' %}";
                                    }
                                    flagbutton.onclick = function(){
                                        if (document.getElementById("flag{{info.submission_id}}").src.includes("Solid")){
                                            document.getElementById("flag{{info.submission_id}}").src="{% static 'img/Flag-Clear.svg' %}";
                                            
                                        }
                                        else{
                                            document.getElementById("flag{{info.submission_id}}").src = "{% static 'img/Flag-Solid.svg' %}";
                                           
                                        }
                                        document.getElementById("post{{info.submission_id}}").style.display="none";
                                        
                                        var submission_id = "{{info.submission_id}}";
                                        
                                        var url = window.location.protocol + '//' + location.host + "/flag_submission/";
                                        fetch(url, {
                                            method: "POST",
                                            credentials: "include",
                                            headers: {
                                            Accept: "application/json",
                                            "Content-Type": "application/json",
                                            },
                                            body: JSON.stringify({
                                                submission_id: submission_id,
                                            }),
                                        })
                                            .then((response) => response.json())
                                            .then((response) => console.log(JSON.stringify(response)));
                                    };

                                </script>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="break"></div>
                {% endfor %}
                <br style="user-select: none;"> <br style="user-select: none;">
              </div>
              <div class="side"></div>
          </main>
    </body>
</html>