<!doctype html>
<!--
    Main Author:
        OJ - Design + Styling + Integration
-->
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../../static/favicon.ico">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{% static 'css/desktop/friends.css' %}" rel="stylesheet" media="screen and (min-width: 1001px)">
        <link href="{% static 'css/mobile/friends-mobile.css' %}" rel="stylesheet" media="screen and (max-width: 1000px)">
        <link href="{% static 'css/variables.css' %}" rel="stylesheet">
        {% if is_active is True %}
        <style>
            .main-pic .icon,
            .account .icon {
                background-image: url('{{ profile_image }}');
                background-position: center;
                color: {{ text_colour }};
            }
        </style>
        {% endif %}
    </head>
    <body>
        <header class="row">
            <div class="side">
                <button type="button" class="btn btn-primary trigger-menu" data-bs-toggle="modal" data-bs-target="#menuModal">
                    Menu
                </button>
            </div>
            <div class="title centre">
                <a class="title" href="{% url 'university-feed' %}">BeGreen</a>
                <br>
                <a class="subtitle">Today's challenge: {{active_challenge}}</a>
            </div>
            <div class="side">
                <div class="account">
                    <div style="height: 80%; padding-left: 50%;">
                        <div class="icon rounded-circle" id="account">{{user.username|make_list|first| capfirst}}</div>
                    </div>
                    <div class="points">Score: {{user_points}}</div>
                </div>
                <script>
                    account = document.getElementById("account");
                    account.onclick = function() {
                        location.href = "{% url 'history' %}"
                    }
                </script>
            </div>
        </header>
        <!-- The Modal -->
        <div class="modal fade" id="menuModal">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content menu">
            
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Useful Links</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body links">
                        <a href="{% url 'university-feed' %}">Home Feed</a> <br>
                        <a href="{% url 'history' %}">Submission History</a> <br>
                        <a href="{% url 'leaderboard' %}">Leaderboard</a> <br>
                        <a href="{% url 'store' %}">Store</a> <br>
                        <div style="background-color: white; height: 5px; width: 80%;"></div>
                        <a href="https://www.exeter.ac.uk/about/sustainability/">University Green Policy</a> <br>
                        <div style="background-color: white; height: 5px; width: 80%;"></div>

                        Add Friend:
                        <div class="add-friend rounded-3">
                            <form action="{% url 'addFriend' %}" method="post">
                                {% csrf_token %}
                                <input  class="rounded-3" type="text" name="friend_name" id="friend-name">
                                <button type="submit" class="btn btn-outline-success" style="width: 80px;">Add Friend</button>
                            </form>
                        </div>
                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <main class="row">

            <div class="side left">
                <div class="links rounded-5">
                    <a href="{% url 'university-feed' %}">Home Feed</a> <br>
                    <a href="{% url 'history' %}">Submission History</a>
                    <a href="{% url 'leaderboard' %}">Leaderboard</a>
                    <br><a href="{% url 'store' %}">Store</a>
                    <div style="background-color: white; height: 5px; width: 80%;"></div>
                    <a href="https://www.exeter.ac.uk/about/sustainability/">University Green Policy</a>
                    <div style="background-color: white; height: 5px; width: 80%;"></div>
                    <div class="add-friend rounded-3 mt-4">
                        <form action="{% url 'addFriend' %}" method="post">
                            {% csrf_token %}
                            <input  class="rounded-3" type="text" name="friend_name" id="friend-name">
                            <button type="submit" class="btn btn-outline-success" style="width: 80px;">Add Friend</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="centre">
                <div class="overview rounded-5">
                    <div class="main-pic" style="margin: auto;">
                        <div class="icon rounded-circle">{{user.username|make_list|first| capfirst}}</div>
                    </div>
                    <div style="text-decoration: underline;">
                        @{{user.username}}
                    </div>
                    <div>
                        Score: {{user_points}}
                    </div>
                    <div>
                        You joined BeGreen 3 months ago
                    </div>
                    <br>
                    <div style="bottom: 0px;">
                        View your friends here!
                    </div>
                </div>

                <div class="row" style="padding: 0px 15px;">
                    <button class="filter btn btn-light" id="setCurrent">Current Friends</button>
                    <button class="filter btn btn-dark" id="setIncoming">Incoming Requests</button>
                </div>

                <div class="friends-list" id="current" style="display: flex;">
                    {% for friend, item in friends %}
                        <div class="friend row rounded-3">
                            <div class="side left">
                                {% if item.is_active is True %}
                                <div class="icon rounded-circle" style="background-image: url('{{ item.image }}'); background-position: center; color: {{ item.text }};">{{friend|make_list|first| capfirst}}</div>
                                {% else %}
                                <div class="icon rounded-circle">{{friend|make_list|first| capfirst}}</div>
                                {% endif %}
                            </div>
                            <div class="centre">
                                <div>{{friend}}</div>
                            </div>
                            <div class="side right">
                                <form action="{% url 'removeFriend' %}" method="post">
                                    {% csrf_token %}
                                    <input  type="hidden" name="friend_name" id="friend-name" value="{{friend}}">
                                    <button type="submit" class="btn btn-outline-danger" style="width: 95px;">Remove Friend</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                                
                <div class="friends-list" id="incoming" style="display: none;">
                    {% for friend, item in incoming %}
                        <div class="friend row rounded-3">
                            <div class="side left">
                                {% if item.is_active is True %}
                                <div class="icon rounded-circle" style="background-image: url('{{ item.image }}'); background-position: center; color: {{ item.text }};">{{friend|make_list|first| capfirst}}</div>
                                {% else %}
                                <div class="icon rounded-circle">{{friend|make_list|first| capfirst}}</div>
                                {% endif %}
                            </div>
                            <div class="centre">
                                <div>{{friend}}</div>
                            </div>
                            <div class="side right">
                                <form action="{% url 'acceptFriendRequest' %}" method="post">
                                    {% csrf_token %}
                                    <input  type="hidden" name="friend_name" id="friend-name" value="{{friend}}">
                                    <button type="submit" class="btn btn-outline-success" style="width: 95px; height: 50px; margin-right: 5px;">Accept</button>
                                </form>
                                <form action="{% url 'declineFriendRequest' %}" method="post">
                                    {% csrf_token %}
                                    <input  type="hidden" name="friend_name" id="friend-name" value="{{friend}}">
                                    <button type="submit" class="btn btn-outline-danger" style="width: 95px; height: 50px;">Decline</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="side"></div>
          </main>
          <script>
            let current = document.getElementById("current");
            let incoming = document.getElementById("incoming");

            let currentBtn = document.getElementById("setCurrent");
            currentBtn.addEventListener("click", displayCurrent);

            let incomingBtn = document.getElementById("setIncoming");
            incomingBtn.addEventListener("click", displayIncoming);

            function displayCurrent() {
                current.style.display = "flex";
                currentBtn.classList.remove("btn-dark");
                currentBtn.classList.add("btn-light");

                incoming.style.display = "none";
                incomingBtn.classList.remove("btn-light");
                incomingBtn.classList.add("btn-dark");
            }

            function displayIncoming() {
                current.style.display = "none";
                currentBtn.classList.remove("btn-light");
                currentBtn.classList.add("btn-dark");

                incoming.style.display = "flex";
                incomingBtn.classList.remove("btn-dark");
                incomingBtn.classList.add("btn-light");
            }
          </script>
    </body>
</html>