<!doctype html>
<!--
    Main Author:
        JA - Design + Integration
-->
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{% static 'css/store.css' %}" rel="stylesheet" media="screen and (min-width: 1001px)">
        <link href="{% static 'css/store-mobile.css' %}" rel="stylesheet" media="screen and (max-width: 1000px)">
        <link href="{% static 'css/variables.css' %}" rel="stylesheet">

        <style>
            .icon {
                background-image: url('{{ profile_image }}');
                background-position: center;
            }
        </style>
    </head>
    <body>
        <header class="row">
            <div class="side">
                <button type="button" class="btn btn-primary trigger-menu" data-bs-toggle="modal" data-bs-target="#menuModal">
                    Menu
                </button>
            </div>
            <div class="title centre">
                <a class="title" href="{% url 'home' %}">BeGreen</a>
                <br>
                <a class="subtitle">Today's challenge: {{active_challenge}}</a>
            </div>
            <div class="side">
                <div class="account">
                    <div style="height: 80%; padding-left: 50%;">
                        <div class="icon rounded-circle">{{user.username|make_list|first| capfirst}}</div>
                    </div>
                    <div class="points">Score: {{user_points}}</div>
                </div>
            </div>
        </header>
        <!-- The Links Modal -->
        <div class="modal fade" id="menuModal">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content menu">
            
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Useful Links</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body links">
                        <a href="{% url 'home' %}">Home Feed</a> <br>
                        <a href="{% url 'account' %}">Submission History</a> <br>
                        <a href="{% url 'friends' %}">Manage Friends</a> <br>
                        <div style="background-color: white; height: 5px; width: 80%;"></div>
                        <a href="https://www.exeter.ac.uk/about/sustainability/">University Green Policy</a> <br>
                        <div style="background-color: white; height: 5px; width: 80%;"></div>
                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        
        <main class="row">

            <div class="side left">
                <div class="links rounded-5">
                    <a href="{% url 'home' %}">Home Feed</a> <br>
                    <a href="{% url 'account' %}">Submission History</a> <br>
                    <a href="{% url 'friends' %}">Manage Friends</a>
                    <div style="background-color: white; height: 5px; width: 80%;"></div>
                    <a href="https://www.exeter.ac.uk/about/sustainability/">University Green Policy</a>
                    <div style="background-color: white; height: 5px; width: 80%;"></div>
                </div>
            </div>

            <div class="centre">
                <div class="overview rounded-5">
                    <div class="main-pic" style="margin: auto;">
                        <div class="icon rounded-circle">
                            {{user.username|make_list|first| capfirst}}
                        </div>
                    </div>
                    <div style="text-decoration: underline;">
                        @{{user.username}}
                    </div>
                    <div>
                        Score: {{user_points}}
                    </div>
                    <div>
                        You joined BeGreen 3 months ago
                    </div>
                    <br>
                    <div style="bottom: 0px;">
                        Points left to spend: {{user_spendable_points}}
                    </div>
                </div>

                {% for item, info in store.items %}
                    <div class="item">
                        <img src="../../static/img/Post1.jpg" style="width: 92px; height: 92px; border-radius: 50%; object-fit: none;">
                        {% if info.is_owned == False %}
                            <button class="store btn btn-dark" id="Buy{{user.username}}{{info.item_name}}">Buy: {{ info.item_cost }}</button>
                        {% else %}
                            {% if info.is_active == False %}
                                <button class="store btn btn-dark" id="Activate{{user.username}}{{info.item_name}}">Make Active</button>
                            {% else %}
                                <button class="store btn btn-dark" id="Deactivate{{user.username}}{{info.item_name}}">Active</button>
                            {% endif %}
                        {% endif %}
                    </div>
                    <script type="text/javascript">
                        buybutton = document.getElementById("Buy{{user.username}}{{info.item_name}}");
                        buybutton.onclick = function activate_item() {
                            var username = "{{user.username}}";
                            var item_name = "{{info.item_name}}";
                            var spendable_points = "{{user_spendable_points}}"
        
                            var url = window.location.protocol + '//' + location.host + "/buy_item/";
                            fetch(url, {
                                method: "POST",
                                credentials: "include",
                                headers: {
                                    Accept: "application/json",
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({
                                    username: username,
                                    item_name: item_name,
                                    spendable_points: spendable_points,
                                }),
                            })
                            .then((response) => response.json())
                            .then((response) => console.log(JSON.stringify(response)));
                        };
                        activatebutton = document.getElementById("Activate{{user.username}}{{info.item_name}}");
                        activatebutton.onclick = function activate_item() {
                            var username = "{{user.username}}";
                            var item_name = "{{info.item_name}}";
        
                            var url = window.location.protocol + '//' + location.host + "/activate_item/";
                            fetch(url, {
                                method: "POST",
                                credentials: "include",
                                headers: {
                                    Accept: "application/json",
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({
                                    username: username,
                                    item_name: item_name,
                                }),
                            })
                            .then((response) => response.json())
                            .then((response) => console.log(JSON.stringify(response)));
                        };
                        deactivatebutton = document.getElementById("Deactivate{{user.username}}{{info.item_name}}");
                        deactivatebutton.onclick = function activate_item() {
                            var username = "{{user.username}}";
                            var item_name = "{{info.item_name}}";
        
                            var url = window.location.protocol + '//' + location.host + "/deactivate_item/";
                            fetch(url, {
                                method: "POST",
                                credentials: "include",
                                headers: {
                                    Accept: "application/json",
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({
                                    username: username,
                                    item_name: item_name,
                                }),
                            })
                            .then((response) => response.json())
                            .then((response) => console.log(JSON.stringify(response)));
                        };

                    </script>
                    {% endfor %}
            </div>
            <div class="side"></div>
          </main>
    </body>
</html>