@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200..900);

input[type="file"] {
    display: none;
}
label {
    background-color: #003c3c;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    margin-top: 1rem;
    display: flex;
    text-align: center;
  }
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .centerText {
    text-align: center;
    border: 3px solid green;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

main {
    position: relative;
    top: 0px;
    height: calc(100% - clamp(75px, 13vw, 130px));
    width: auto;
    content: "";
    padding-top: 15%;
}

.content {
    /* margin-top: 15%; */
    width: 100vw;
    aspect-ratio: 3/4;
    display: flex;
    align-items: center;
}

video {
    width: 100%;
    margin: auto;
    border: 1px solid var(--exeter-dark-green);
}

img {
    width: 100%;
    margin: auto;
    border: 1px solid var(--exeter-dark-green);
}

.capture {
    height: 80px;
    aspect-ratio: 1/1;
    border: 5px solid var(--exeter-dark-green);
    background-color: var(--exeter-deep-green);
    display: block;
    margin: auto;
    margin-top: 40px;
}

.inner-capture {
    height: 55px;
    aspect-ratio: 1/1;
    background-color: var(--exeter-dark-green);
    display: block;
    margin: auto;
}

.inner-capture .icon {
    height: 40px;
    filter: invert();
    border: none;
    margin-top: 9px;
}

.side .capture {
    height: 60px;
    margin-left: 50px;
    margin-top: 50px;
}

.side .inner-capture {
    height: 41px;
}

.side .inner-capture .icon {
    height: 30px;
    margin-top: 7px;
}


html,
body {
    width: auto;
    height: 100%;
    background-color: var(--exeter-deep-green);
    box-sizing: border-box;
    overflow-x: clip;
    font-family: "Inter";
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

header {
    width: 100vw;
    position: sticky;
    top:0;
    background-color: var(--exeter-deep-green);
    height: clamp(75px, 13vw, 130px);
    z-index: 1000;
    box-shadow: 1px 5px 10px #202020;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

div.title {
    text-align: center;
    line-height: 100%;
    flex-direction: column;
    display: flex;
    margin-top: 10px;
}

a.title {
    color: var(--exeter-dark-green);
    font-weight: 700;
    font-size: clamp(28px, 5vw, 48px);
    text-decoration: none;
    margin: auto;
}
  
a.subtitle {
    color: #00BDA7;
    font-weight: 700;
    font-size: 12px;
    font-size: clamp(12px, 2vw, 20px);
    text-decoration: none;
    margin: auto;
    margin-top: -10px;
    width: 100%;
}

div.account {
    width: 200px;
    height: 100%;
    display: flex;
    padding: 7px;
    padding-right: 15px;
    flex-direction: column;
    float: right;
}

.account .icon {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--exeter-dark-green);
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: calc(height);
    font-size: clamp(30px, 6vw, 60px);
    float: right;
}

.points {
    width: 110%;
    padding-left: 60%;
    color: white;
    font-weight: 540;
    text-align: center;
    font-size: 12px;
}



.centre {
    float: left;
    width: 50%;
    height: auto;
}

.side {
    float: left;
    width: 25%;
    height: auto;
    padding: 0;
}