@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200..900);

html,
body {
    height: 100%;
    width: 100vw;
    background-color: var(--exeter-deep-green);
    box-sizing: border-box;
    overflow-y: overlay;
    margin: 0px;
    padding: 0px;
    font-family: "Inter";
}

body {
    display: flex;
    align-items: center;
}

div.title {
  line-height: 200%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

header {
    width: 100%;
    position: absolute;
    top:0;
    background-color: var(--exeter-deep-green);
    height: 130px; 
    z-index: 1000;
    box-shadow: 1px 5px 10px #202020;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

div.title {
    text-align: center;
    line-height: 250%;
    display: flex;
    align-items: center;
}

a.title {
    color: var(--exeter-dark-green);
    font-weight: 700;
    font-size: 62px;
    text-decoration: none;
    margin: auto;
}

a.subtitle {
    color: white ;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
  }

div.account {
    width: 200px;
    height: 100%;
    display: flex;
    padding: 7px;
    padding-right: calc(15px + 1.2vw);
    flex-direction: column;
    float: right;
    align-items: center;
}

.icon {
    user-select: none;
}

.account .icon {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--exeter-dark-green);
    color: white;
    text-align: center;
    font-weight: 400;
    line-height: calc(height);
    font-size: 60px;
    cursor: pointer;
}

.points {
    width: 110%;
    padding-left: 48%;
    color: white;
    font-weight: 540;
    text-align: center;
    font-size: 15px;
}

.centre {
    float: left;
    width: 50%;
    height: 100%;
}

.side {
    float: left;
    width: 25%;
    height: 100%;
    padding: 0;
}

p.friends {
    color: var(--exeter-bright-green);
}