@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200..900);

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--exeter-deep-green);
  font-family: "Inter";
}

div.title {
  line-height: 200%;
}

a.title {
  color: var(--exeter-dark-green);
  font-weight: 700;
  font-size: 96px;
  text-decoration: none;
}

a.subtitle {
  color: var(--exeter-bright-green);
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}