
{% if user.is_authenticated %}
<a>hi test {{user.email}}</a>
<a href="{% url 'microsoft_authentication:microsoft_authentication_logout' %}" >logout</a>
<video id="playbackvideo" autoplay></video>
<script>
    var errorCallback = function(e) {
    console.log('Perms denied!', e);
    };
    navigator.getUserMedia = ( navigator.getUserMedia ||
                   navigator.webkitGetUserMedia ||
                   navigator.mozGetUserMedia ||
                   navigator.msGetUserMedia);

    // Not showing vendor prefixes.
    navigator.getUserMedia({video: true, audio: true}, function(localMediaStream) {
        var video = document.querySelector('video');
        video.srcObject = localMediaStream

        // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
        // See crbug.com/110938.
        video.onloadedmetadata = function(e) {
            // Ready to go. Do some stuff.
        };
    }, errorCallback);
</script>
{% else %}
<a href="{% url 'microsoft_authentication:microsoft_authentication_login' %}" >login</a>
{% endif %}

