<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="x-apple-disable-message-reformatting">
        <!-- Template by TN -->
        <style>
.accent::before {content:"♻️ "}
.accent::after {content:" 🌳"}
@media (orientation: portrait), (max-width: 480px) {
body {
    padding: 5%;
}
.wrapper {
    width: 75% !important;
    padding: 25px !important;
    margin: 0 !important;
    }

    h1 {
        font-size: 2em !important;
    }

    .accent::before {content:"♻️"}
    .accent::after {content:"🌳"}
}
        </style>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200..900" rel="stylesheet">
    </head>
    <body style="align-items:center; background-color:#16161D; color:white; font-family:'Inter'; width:100%;">
        <div class="wrapper" style="border-radius:30px; height:fit-content; margin:50px auto; padding:50px; text-align:center; width:400px; background-color: #007d69;">
            <h1 style="font-size:2.4em; margin-top:0; color: #003c3c;">It's Time to<br><span class="accent">BeGreen!</span></h1>
            <h3 style="padding:0.2em 0 0.25em 0; text-align:right; color: #00dca5;" align="right">{{ date }}</h3>
            <i></i>
            <h2 style="padding:0.5em 0 0.5em 0; color: #00c896;">Today's challenge: {{ description }}</h2>
            <a href="{{ url }}/submit" style="font-weight:normal; text-decoration-thickness:from-font; color: #00dca5;">Click here</a> and be the first of your friends to post
        </div>
        &nbsp;
        &nbsp;
        &nbsp;
    </body>
</html>