<!doctype html>
<!--
    Main Authors:
        TN - Design
        OJ - Styling
        LB, ER - Integration
-->
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../../static/favicon.ico">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{% static 'css/desktop/feed.css' %}" rel="stylesheet" media="screen and (min-width: 1001px)">
        <link href="{% static 'css/mobile/feed-mobile.css' %}" rel="stylesheet" media="screen and (max-width: 1000px)">
        <link href="{% static 'css/variables.css' %}" rel="stylesheet">
        {% if is_active is True %}
        <style>
            .account .icon {
                background-image: url('{{ profile_image }}');
                background-position: center;
                color: {{ text_colour }};
            }
        </style>
        {% endif %}
    </head>
    <body>
        <header class="row">
            <div class="side">
                <button type="button" class="btn btn-primary trigger-menu" data-bs-toggle="modal" data-bs-target="#menuModal">
                    Menu
                </button>
            </div>
            <div class="title centre">
                <a class="title" href="{% url 'university-feed' %}">BeGreen</a>
                <br>
                <a class="subtitle">Today's challenge: {{active_challenge}}</a>
            </div>
            <div class="side">
                <div class="account">
                    <div style="height: 80%; padding-left: 50%;">
                        <div class="icon rounded-circle" id="account">{{user.username|make_list|first| capfirst}}</div>
                    </div>
                    <div class="points">Score: {{user_points}}</div>
                </div>
                <script>
                    account = document.getElementById("account");
                    account.onclick = function() {
                        location.href = "{% url 'history' %}"
                    }
                </script>
            </div>
        </header>
        <!-- The Modal -->
        <div class="modal fade" id="menuModal">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content menu">
            
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Useful Links</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body links">
                        <a href="{% url 'history' %}">Submission History</a> <br>
                        <a href="{% url 'friends' %}">Manage Friends</a> <br>
                        <a href="{% url 'leaderboard' %}">Leaderboard</a> <br>
                        <a href="{% url 'store' %}">Store</a> <br>
                        <div style="background-color: white; height: 5px; width: 80%;"></div>
                        <a href="https://www.exeter.ac.uk/about/sustainability/">University Green Policy</a> <br>
                        <div style="background-color: white; height: 5px; width: 80%;"></div>
                        <a href="{% url 'university-feed' %}">University Submissions</a> <br>
                        <a href="{% url 'friends-feed' %}">Friends' Submissions</a>
                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <main class="row">
              <div class="side left">
                <div class="links rounded-5">
                    <a href="{% url 'history' %}">Submission History</a>
                    <a href="{% url 'friends' %}">Manage Friends</a>
                    <a href="{% url 'leaderboard' %}">Leaderboard</a>
                    <br><a href="{% url 'store' %}">Store</a>
                    <div style="background-color: white; height: 5px; width: 80%;"></div>
                    <a href="https://www.exeter.ac.uk/about/sustainability/">University Green Policy</a>
                    <div style="background-color: white; height: 5px; width: 80%;"></div>
                    <a href="{% url 'university-feed' %}">University Submissions</a>
                    <a href="{% url 'friends-feed' %}">Friends' Submissions</a>
                </div>
              </div>
              <div class="centre">
                {% for submission, info in submissions.items %}
                    <form action="{% url 'post' %}" method="post" id="form{{info.submission_id}}" style="display: none;">
                        {% csrf_token %}
                        <input type="text" name="submission_id" id="submission_id" value="{{info.submission_id}}">
                    </form>
                    <div id="post{{info.submission_id}}" class="post rounded-5">
                        <div class="header row details" id="header{{info.submission_id}}">
                            <div class="user">{{ info.submission_user_displayname }}</div>
                            <div class="time">{{ info.submission_time }}</div>
                        </div>
                        <div class="row">
                            <div class="side"></div>
                            <div class="centre">
                                <div class="img rounded-5">
                                    {% if info.submission_user_profile_picture.is_active is True %}
                                    <div class="icon rounded-circle" style="background-image: url('{{ info.submission_user_profile_picture.image }}'); background-position: center; color: {{ info.submission_user_profile_picture.text }};">{{info.submission_username|make_list|first| capfirst}}</div>
                                    {% else %}
                                    <div class="icon rounded-circle">{{info.submission_username|make_list|first| capfirst}}</div>
                                    {% endif %}
                                    <img id="image{{info.submission_id}}" class="details" src="{{ info.submission_photo }}">
                                </div>
                            </div>
                            <div class="side interactions">
                                <div>
                                    <img id="upvote{{info.submission_id}}" class="upvote" src="{% static 'img/Upvote-Clear.svg' %}">
                                    <script>
                                        upvotebutton = document.getElementById("upvote{{info.submission_id}}");
                                        upvotecount = document.getElementById("upvotetext{{info.submission_id}}");
                                        var has_liked = "{{info.submission_has_liked}}";
                                        console.log(has_liked);
                                        if ("{{info.submission_has_liked}}" == "1"){
                                            upvotebutton.src = "{% static 'img/Upvote-Solid.svg' %}";
                                        }
                                        upvotebutton.onclick = function(){
                                            if (document.getElementById("upvote{{info.submission_id}}").src.includes("Solid")){
                                                document.getElementById("upvote{{info.submission_id}}").src="{% static 'img/Upvote-Clear.svg' %}";
                                                document.getElementById("upvotetext{{info.submission_id}}").innerHTML=(parseInt(document.getElementById("upvotetext{{info.submission_id}}").innerHTML)-1);
                                            }
                                            else{
                                                document.getElementById("upvote{{info.submission_id}}").src = "{% static 'img/Upvote-Solid.svg' %}";
                                                document.getElementById("upvotetext{{info.submission_id}}").innerHTML=(parseInt(document.getElementById("upvotetext{{info.submission_id}}").innerHTML)+1);
                                            }
                                            
                                            var submission_id = "{{info.submission_id}}";
                                            
                                            var url = window.location.protocol + '//' + location.host + "/like_submission/";
                                            fetch(url, {
                                                method: "POST",
                                                credentials: "include",
                                                headers: {
                                                Accept: "application/json",
                                                "Content-Type": "application/json",
                                                },
                                                body: JSON.stringify({
                                                    submission_id: submission_id,
                                                }),
                                            })
                                                .then((response) => response.json())
                                                .then((response) => console.log(JSON.stringify(response)));
                                        };

                                    </script>
                                </div>
                                <div id="upvotetext{{info.submission_id}}">{{ info.submission_upvote_count }}</div>
                                <div id="comment{{info.submission_id}}" class="details">
                                    <img src="{% static 'img/Comment.svg' %}">
                                </div>
                                <div>{{ info.submission_comment_count }}</div>
                                <div>
                                    {% if not info.submission_has_reviewed %}
                                        <img id="flag{{info.submission_id}}" src="{% static 'img/Flag-Clear.svg' %}">
                                        <script>
                                            flagbutton = document.getElementById("flag{{info.submission_id}}");
                                            var has_flagged = "{{info.submission_has_flagged}}";
                                            if ("{{info.submission_has_flagged}}" == "1"){
                                                flagbutton.src = "{% static 'img/Flag-Solid.svg' %}";
                                            }
                                            flagbutton.onclick = function(){
                                                if (document.getElementById("flag{{info.submission_id}}").src.includes("Solid")){
                                                    document.getElementById("flag{{info.submission_id}}").src="{% static 'img/Flag-Clear.svg' %}";
                                                    
                                                }
                                                else{
                                                    document.getElementById("flag{{info.submission_id}}").src = "{% static 'img/Flag-Solid.svg' %}";
                                                
                                                }
                                                document.getElementById("post{{info.submission_id}}").style.display="none";
                                                
                                                var submission_id = "{{info.submission_id}}";
                                                
                                                var url = window.location.protocol + '//' + location.host + "/flag_submission/";
                                                fetch(url, {
                                                    method: "POST",
                                                    credentials: "include",
                                                    headers: {
                                                    Accept: "application/json",
                                                    "Content-Type": "application/json",
                                                    },
                                                    body: JSON.stringify({
                                                        submission_id: submission_id,
                                                    }),
                                                })
                                                    .then((response) => response.json())
                                                    .then((response) => console.log(JSON.stringify(response)));
                                            };

                                        </script>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        post = document.getElementById("post{{info.submission_id}}");
                        detailElements = post.getElementsByClassName("details");

                        for (var i = 0; i < detailElements.length; i++) {
                            detailElements.item(i).onclick = function() {
                                form = document.getElementById("form{{info.submission_id}}");
                                form.submit();
                            }
                        }
                    </script>
                    <div class="break"></div>
                {% endfor %}
                <br style="user-select: none;"> <br style="user-select: none;">
              </div>
              <div class="side"></div>
          </main>
    </body>
</html>